@model IEnumerable<ProjectAgroDeals.ViewModel.ProductViewModel>


<table id="table1" class="table  p-1 text-center">
    
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductPicture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductDescription)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CatName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitType)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class=" align-middle">
                <td>
                    <img src="../@item.ProductPicture" width="80px" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductDescription)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CatName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitType)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ProductID }, new { @class = "btn btn-sm btn-warning" })
                 </td>
            </tr>

        }
    </tbody>
</table>

